body
{
    overflow: hidden; /*34an n5fi el scroll eely kan zahr m3 loading*/
}

/*change nav color when scroll*/
.bg-black
{
    background-color: black;
    padding: 0px 100px;
}
nav
{
    transition: padding 1s , background-color 1s;

}

/*backButton*/
#btnUp
{
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 555;
    display: none;
}

/*start header part*/
header
{
    height: 620px;
    background-image: url(../images/bg.jpg);
    background-size: cover;
    position: relative;
}
.header-caption 
{
    color: #fff;
}
.header-caption h1
{
    font-size: 3rem;
    font-weight: 800;
}
.header-caption a
{
    color: #ff206e;   
}
.social-icons
{
    position: absolute;
    left: 20px;
    bottom: 20px;
}
.social-icons i
{
    color: #fff;
    padding: 10px;
    border:solid 1px rgba(255,255,255,.25);
    border-radius: 50%;
}

/*end header part*/
#about
{
    background-image: url(../images/light_dot.jpg);
}
.title
{
    position: relative;
    font-weight: 800;
}
.title h2
{
    color: #f1f1f1;
    font-size: 5rem;
    font-weight: 800;

}
.title h3
{
    position: absolute;
    font-size: 3rem;
    font-weight: 800;
    letter-spacing: 3px;

}

.image-me
{
    box-shadow: 0 10px 30px rgba(0,0,0,.25);
}

#about h6
{
    color: #ff206e;
}
#testimonials
{
    font-family: 'Segoe UI light', Tahoma, Geneva, Verdana, sans-serif;
}

.carousel-indicators
{
    position: static;
}
.carousel-indicators li
{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: black;
}


.carousel-item img
{
    width: 85px;
  
}


.carousel-item h6
{
    color: #555;
    position: relative;
}
.carousel-item h6::after
{

    content: "";
    position: absolute;
    top: 150%;
    left: 47%;
    width:6%;
    height: 2px;
    background-color: #ff206e;
    transition: width 1s , left 1s;
    
}


.carousel-item:hover  h6::after
{
    width:10%;
    left: 45%;

   
}

#profile
{
    font-family: 'segoe ui light';
}



/*loadingScreen*/
#loading
{
    position: fixed;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    background-color:black;
    z-index: 999999;

}

/*Spinner*/
.spinner {
    width: 60px;
    height: 60px;
    background-color: #fff;
  
    margin: 250px auto;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
  }
  
  @-webkit-keyframes sk-rotateplane {
    0% { -webkit-transform: perspective(120px) }
    50% { -webkit-transform: perspective(120px) rotateY(180deg) }
    100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
  }
  
  @keyframes sk-rotateplane {
    0% { 
      transform: perspective(120px) rotateX(0deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
    } 50% { 
      transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
    } 100% { 
      transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
      -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
  }

  /*color box*/
  #options-container
{
   
    position: fixed;
    z-index: 99999;
    top: 180;
    left: 0px;
}

.Option-box
{
    background-color: #fff;
    border: solid 2px black ;
    
    padding: 10px;
}
#options-container i
{
    background-color: black;
    padding: 15px;
    cursor: pointer;
}

.color-item
{
    width:30px;
    height: 30px;
    background-color: chocolate;
    border-radius: 5px;
    display: inline-block;/*34an el default bta3 span inline*/
    cursor: pointer;
}


